<footer class="main-footer">
  <div class="pull-right hidden-xs">
    MRSIVOJE I DIN
  </div>
  <strong
    >Powered by <a target="_blank" href="snagapiksela.net">SnagaPiksela.net</a>.</strong
  >
</footer>
